/* GENERAL */
body
{
    background: url("IMGS/progressBarImg2.jpg");
    /*font-style:*/
    font-size: 20px;
    color: white;
}
#org_div1
{
    height: auto;
    z-index: 1;
    text-align: center;
}
.iCenter
{
    width: 100%;
    padding-left: 7%;
}
div .row
{
    margin-top: 14px;
}
.noSelect
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noCursor
{
    cursor: default;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.floatRight
{
    float: right;
}
.floatLeft
{
    float: left;
}
.infoBtnUpg
{
    padding: 1px 4px 1px 4px;
}
.infoIcon
{
    font-size: 10px;
}
h1
{
    font-size: 30px;
    font-style: bold;
}
button
{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.clickerUpgInpt1:hover, .clickerUpgInpt2:hover
{
    cursor: pointer;
}
.modalLeft
{
    text-align: left;
}
.modalRight
{
    text-align: right;
}
.titleModals .modal-content
{
    background: url("IMGS/popUpBackground3.jpg");
    /*z-index: 1;
    position:absolute;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    background: url("IMGS/popUpBackgroundResized.jpg");
    text-align: center;
    width: 1280px;
    height: 750px;
    margin-left: 315px;
    margin-top: 85px;*/
}
#myModalAchivementsPop1 .modal-content
{
    background: url("IMGS/achievementBackground.jpg")
}
::-webkit-scrollbar {
    width: 0px;
}
/* FOOTER */

.navbar
{
    background: rgba(0,0,0, 0.7);
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar .navbar-nav
{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse
{
    text-align: center;
}
.navbar li a
{
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a
{
    color: black !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle
{
    border-style: none;
}
.icon-bar
{
    background-color: #fff !important;
}
#clickerSpotInfo h1, #coinflipSpotInfo h1, #caseSpotInfo h1
{
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 100%;
    height: auto;
    padding: 2px 0px 2px 0px;
    background-color: rgba(0, 0, 0, 0.75);
}
#userSpot .userSpotContent
{
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 100%;
    padding: 2px 0px 2px 0px;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 20px;
}
#userSpot .adSpot
{
    border: 1px solid rgba(0, 0, 0, 0.4);
    height: 250px;
    width: 92%;
}
#userSpot .adBox
{
    width: 92%;
    text-align: center;
}
#userSpot .adSpotContainer
{
    margin-top: 80%;
}
#userSpot
{
    margin-top: 20px;
}
.logoImg
{
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-top: 5px;
    width: 90% !important;
    height: 90% !important;
}
.loginBtn, .registerBtn
{
    width: 75%;
    height: 40px;
    margin-top: 18px;
    color: white;
    background: rgba(35, 38, 38, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.clickerSpotContent, .caseSpotContent, .coinflipSpotContent
{
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 100%;
    margin-top: 5%;
    padding: 2px 0px 2px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
.tradeLinkBox
{
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.0);
    border-radius: 5px;
    background: white;
    margin-bottom: 2px;
    width: 65%;
}
.balanceBox
{
    border: 1px solid rgba(0,0,0,0.0);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.0);
    border-radius: 5px;
    background: rgba(0,0,0,0.0);
    width: auto;
    text-align: center;
}
.valueBox
{
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.50);
    margin: 5px 5px;
    width: 90%;
}
#clickerSpotInfo .clickerSpotText
{
    margin-top: 10px;
}
#clickerSpotInfo .clickerSpotText p
{
    font-size: 18px;
}
.clickerImg, .caseImg, .coinflipImg
{
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin-top: 5px;
    width: 90% !important;
    height: 90% !important;
}
