body
{
    background: url("IMGS/background6.jpg");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noCursor
{
    cursor: default;
}
::-webkit-scrollbar {
    width: 0px;
}
.navbar
{
    background: rgba(0,0,0, 0.7);
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar .navbar-nav
{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse
{
    text-align: center;
}
.navbar li a
{
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a
{
    color: black !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle
{
    border-style: none;
}
.icon-bar
{
    background-color: #fff !important;
}
#clickerSpotInfo h1, #coinflipSpotInfo h1, #caseSpotInfo h1
{
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 100%;
    height: auto;
    padding: 2px 0px 2px 0px;
    background-color: rgba(0, 0, 0, 0.75);
}
#userSpot .userSpotContent
{
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 100%;
    padding: 2px 0px 2px 0px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    height: 43em;
}
#userSpot .adSpot
{
    border: 1px solid rgba(0, 0, 0, 0.4);
    height: auto;
    width: 90%;
}
#userSpot .adBox
{
    width: 90%;
    text-align: center;
    margin-right: 5%;
}
#userSpot .adSpotContainer
{
    /*margin-top: 75%; If not connected*/
}
#userSpot
{
    margin-top: 20px;
}
.logoImg
{
    /*border: 2px solid rgba(0, 0, 0, 0.5);*/
    margin-top: 5px;
    width: 15% !important;
    height: 12% !important;
    float: left;
    margin-left: 9%;
    margin-top: 7%;
}
.tradeLinkBox
{
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.0);
    border-radius: 5px;
    background: white;
    margin-bottom: 2px;
    width: 66%;
    height: 30px;
    color: black;
}
.balanceBox
{
    border: 1px solid rgba(0,0,0,0.0);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.0);
    border-radius: 5px;
    background: rgba(0,0,0,0.0);
    width: auto;
    text-align: center;
}
.valueBox
{
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
    margin: 5px 5px;
    width: 90%;
}
.saveTradeLinkBtn
{
    margin: 2% 2%;
    height: 30px;
}
.fileSelector
{
    margin-left: 7.5%;
    background: rgba(35, 38, 38, 0.80);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 86%;
}
.fileSelector:hover
{
    text-decoration: none;
    color: white;
}
.fileSubmit, .fileDelete
{
    margin-top: 3% !important;
    width: 100px !important;
    height: 30px !important
}
.fileDelete
{
    margin-bottom: 1% !important;
}
.avatarOfUser
{
    height: 70%;
    width: 70%;
    border-radius: 30px;
}
.chatText
{
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background: white;
    width: 74.5%;
    margin-left: 1%;
    height: 34px;
    margin-top: 1%;
    float: left;
}
#userSpot
{
    position: absolute;
    z-index: 1;
    margin-top: 0.14%;
    width: 14%;
    height: 92%;
    background: rgba(0, 0, 0, 0.50);
    border: 1px solid rgba(0,0,0, 0.6);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
    border-radius: 10px;
    right: 0.1%;
    text-align: center;
    color: white;
}
.balanceBox
{
    border: 1px solid rgba(0,0,0,0.0);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.0);
    border-radius: 5px;
    background: rgba(0,0,0,0.0);
    width: 100%;
    text-align: center;
}
.chatEnter
{
    width: 9%;
    margin-left: 0.5%;
    height: 34px;
    color: white;
    background: rgba(35, 38, 38, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 1%;
}
.chatEnter:hover
{
    text-decoration: none;
    color: #ccc;
}
.chatBox
{
    border: 2px solid rgba(0,0,0, 0.30);
    border-radius: 15px;
    box-shadow: 1px 1px 1px black;
    background: rgba(0, 0, 0, 0.50);
    color: black;
    width: 84%;
    margin-left: 1%;
    margin-top: 0.7%;
    height: 58.5em !important;
    text-align: left !important;
}
