body{
	background: url(IMGS/progressBarImg4.jpg);
}
@media screen and (min-width: 762px)
{
	#loginBox
	{
		border: 1px solid rgba(0,0,0,0.6);
		background: rgba(35,38,38,0.4);
		border-radius: 50%;
		height: 600px;
		width: 600px !important;
		margin-top: 150px;
		margin-left: 670px;
		text-align: center;
	}
	input
	{
		background-color: #fff;
		border-radius: 7px;
		box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
		width: 300px;
		height: 40px;
		margin-top: 5%;
	}
}

#loginBox
{
    border: 1px solid rgba(0,0,0,0.6);
    background: rgba(35,38,38,0.4);
    height: 600px;
    width: 402px;
    text-align: center;
}
input
{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    width: 300px;
    height: 30px;
    margin-top: 5%;
}
h2
{
	color: white;
}
.username
{
	margin-top: 40%;
}
.submitBtn
{
	margin-top: 20px;
	width: 120px;
	padding: 5px 5px 5px 5px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}
.navbar
{
    background: rgba(0,0,0, 0.7);
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar .navbar-nav
{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse
{
    text-align: center;
}
.navbar li a
{
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a
{
    color: black !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle
{
    border-style: none;
}
.icon-bar
{
    background-color: #fff !important;
}
