/* GENERAL */
body
{
    background: url("IMGS/background.jpg");
    /*font-style:*/
    font-size: 20px;
    color: white;
}
div .row
{
    margin-top: 14px;
}
h1
{
    font-size: 30px;
    font-style: bold;
}
/* COOKIE SPOT */

#caseSpot
{

}
#caseSpot .caseCsgoImg
{
    margin: 14px 0px;
    border: 0px solid black;
    border-radius: 25%;
}
#caseSpot h1
{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 260px;
    padding: 2px 0px 2px 0px;
    background-color: rgba(0, 0, 0, 0.3);
}
#caseSpot .caseNumberSpot
{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
}
#caseSpot .caseNumber
{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
    width: 180px;
    text-align: right;
}
#caseSpot .casePerSecSpot
{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
}
#caseSpot .casePerSec
{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
    width: 180px;
    text-align: right;
}
#caseSpot .casePerClickSpot
{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
}
#caseSpot .casePerClick
{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
    width: 180px;
    text-align: right;
}
/* OPTION SPOT */

#optionSpot
{
}
#optionSpot h1
{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 260px;
    padding: 2px 0px 2px 0px;
    background-color: rgba(0, 0, 0, 0.3);
}
#optionSpot button
{

}
/* UPGRADE SPOT */
#upgradeSpot
{
    text-align: center;
}
#upgradeSpot h1
{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 260px;
    padding: 2px 0px 2px 0px;
    background-color: rgba(0, 0, 0, 0.3);
}
#upgradeSpot button
{
    margin-right: 350px;
    width: 250px;
    text-align: left;
}
#upgradeSpot .clickerUpgInpt1
{
    width: 30px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
    position: absolute;
}
#upgradeSpot .clickerUpgInpt2
{
    width: 60px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
    margin-left: 75px;
}
#upgradeSpot .uspBtn
{
    margin-top: 5px;
}
#upgradeSpot .uspBtn .clickerUpgInpt1
{
    margin-left: 11px;
    position: absolute;
}
#upgradeSpot .uspBtn .clickerUpgInpt2
{
    margin-left: 86px;
}
