/* GENERAL */
body
{
    background: url("IMGS/csgo2.jpg");
    /*font-style:*/
    font-size: 20px;
    color: white;
}
.iCenter
{
    margin: auto;
}
div .row
{
    margin-top: 14px;
}
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.floatRight
{
    float: right;
}
.floatLeft
{
    float: left;
}
h1
{
    font-size: 30px;
    font-style: bold;
}
button
{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
/* COOKIE SPOT */

#caseSpot
{
}
#caseSpot .caseCsgoImg
{
    margin: 14px 0px;
    border: 0px solid black;
    border-radius: 25%;
    margin-left: 55px;
}
#caseSpot h1
{
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 390px;
    height: 42px;
    padding: 2px 0px 2px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
#caseSpot .caseNumberSpot
{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
}
#caseSpot .caseNumber
{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
    width: 180px;
    text-align: right;
}
#caseSpot .casePerSecSpot
{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
}
#caseSpot .casePerSec
{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
    width: 180px;
    text-align: right;
}
#caseSpot .casePerClickSpot
{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
}
#caseSpot .casePerClick
{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
    width: 180px;
    text-align: right;
}
/* OPTION SPOT */

#optionSpot
{
}
#optionSpot h1
{
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 390px;
    height: 42px;
    padding: 2px 0px 2px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
#optionSpot .groupBtn
{
    margin-left: 70px;
}

/* UPGRADE SPOT */
#upgradeSpot
{
    text-align: center;
}
#upgradeSpot h1
{
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 390px;
    height: 42px;
    padding: 2px 0px 2px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
#upgradeSpot .infoIcon
{
    font-size: 10px;
}
#upgradeSpot .infoBtn
{
    padding: 1px 4px 1px 4px;
}
#upgradeSpot .btnGroup
{
    width: 390px;
}
#upgradeSpot .sell
{
    margin-top: 5px;
    height: 40px;
}
#upgradeSpot .groupBtn
{
    margin-left: 40px;
}
#upgradeSpot .btnUpg
{
    /*margin-right: 350px;*/
    width: 250px;
    text-align: left;
    height: 40px;
    margin-top: 5px;
    position: relative;
}
#upgradeSpot .upgIcon
{
    height: 20px !important;
    width: 20px !important;
}
#upgradeSpot .clickerUpgInpt1
{
    width: 30px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
    position: absolute;
}
#upgradeSpot .clickerUpgInpt2
{
    width: 60px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
    margin-left: 75px;
}
